@charset "UTF-8";
/* CSS Document */

body{margin: 0;}
header {
    border-bottom: 1px solid #707070;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: #ededed;
}
.inner {
    position: relative;
    width: 100%;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.inner a{text-align: center;}
.inner.logo img{
  max-width: 12rem;
  padding: 1em;
}
.linkList {
    text-align: center;
}
.frontLinks li {
    display: inline-block;
}
.frontLinks img {
    max-height: 400px;
}
.frontLinks  {
    margin:0 auto;
    text-align: center;
    padding:0;
}
/* Gallery */
body {
  background-color: #fdfdfd;
}
.hello {
  opacity: 1 !important;
}
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full .content {
  background-color: rgba(237,237,237,0.95) !important;
  height: 100%;
  width: 100%;
  display: grid;
}
.full .content img {
    left: 50%;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    max-width: 100%;
    max-height: calc(100vh - 120px);
    margin: 72px auto 0;
}
.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}
.gallery img {
  max-width: 100%;
  border-radius: 2px;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.35);
  transition: all 1.5s ease;
  max-height:100vh;
}
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}
.fcf-body {
    max-width: 650px;
    margin: auto;
}
.fcf-body label, .fcf-body input {
    width: 100%;
    padding: 11px 0;
    margin: 10px 0 20px;
}
.fcf-body input {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px;
    border: 1px solid #707072;
}
button#fcf-button {
    padding: 12px;
    background: #ed9445;
    border: 1px solid #c35c02;
    border-radius: 3px;
    color: #fff;
} 

@media (max-width: 1092px) {
  .frontLinks img {
    max-height: 290px;
  }
}

@media (max-width: 805px) {
  .frontLinks li {
    display: block;
  }
  .frontLinks img {
    max-height: unset;
    min-width: 100%;
    padding: 0 0 20px;
  }
}
.full .content {
  background-color: rgba(0,0,0,0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}
.full .content img {
    left: 50%;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    max-width: 100%;
    max-height: calc(100vh - 104px);
    margin: 75px auto 0;
}
.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}
.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
@-moz-keyframes zoomin {
  0% {
    max-width: 50%;

    filter: blur(4px);
  }
  30% {
    filter: blur(4px);

  }
  70% {
    max-width: 50%;

  }
  100% {
    max-width: 100%;

  }
}
@-webkit-keyframes zoomin {
  0% {
    max-width: 10%;

    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
max-width: 30%;
  }
  70% {
    max-width: 70%;

  }
  100% {
    max-width: 100%;

  }
}
@-o-keyframes zoomin {
  0% {
    max-width: 10%;
    
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    max-width: 30%;
  }
  70% {
    max-width: 70%;
   
  }
  100% {
    max-width: 100%;
  
  }
}
@keyframes zoomin {
  0% {
    max-width: 10%;

    filter: blur(4px);
  }
  30% {
    max-width: 30%;
    filter: blur(4px);
  
  }
  70% {
    max-width: 70%;

  }
  100% {
    max-width: 100%;

  }
}

